.article-list-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
}

.flags-list-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  width: 75%;
  margin: 0 auto;
}

.individual-flag:hover {
  transform: scaleX(1.3) scaleY(1.3);
}

.subcategory-list-div {
  display: flex;
  flex-wrap: left;
  justify-content: center;
  margin: 0 auto;
}

.subcategory-pill {
  height: 30px;
  margin: 5px;
  font-size: 15px;
  background: Transparent;
  border-radius: 5px;
  outline: none;
}

.subcategory-pill:hover {
  color: white;
  font-weight: bold;
  background-color: black;
}
